[submodule "third_party/Remotery"]
	path = third_party/Remotery
	url = https://github.com/Celtoys/Remotery
[submodule "third_party/Tracy"]
	path = third_party/Tracy
	url = https://github.com/wolfpld/tracy
[submodule "third_party/tracy"]
	path = third_party/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "third_party/imgui_club"]
	path = third_party/imgui_club
	url = https://github.com/ocornut/imgui_club.git
