.vs/
.vscode/
.vs/
.clangd/
.cache/
.ccls-cache/
dump/
*.swp
*.dll
out/
build/
build-*/
build*/
cmake-*/
tools/
cachegrind.*
callgrind.*
*.plist
tools/
Session.vim
.vimspector.session
.vimspector.json

