.vscode/
.clangd/
.ccls-cache/
.cache/
.vs/
build-msvc-x64/
build-nmake-clang/
build-nmake-msvc/
build-nmake-msvc-x64/
cmake-nmake/
dump/
*.swp
*.dll
*.plist
build/
build-rel/
build-x64/
cmake-x64/
cachegrind.*
callgrind.*
tools/
shaders/spir-v-compiled/
