[submodule "third_party/Remotery"]
	path = third_party/Remotery
	url = https://github.com/Celtoys/Remotery
[submodule "third_party/Tracy"]
	path = third_party/Tracy
	url = https://github.com/wolfpld/tracy
